.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    color: white;
    padding: 0 10px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: rgb(180, 180, 180);
    cursor: pointer;
  }

  .copyButton {
    width: 100px;
    margin: 5px 0;

    @media (min-width: 768px) {
      margin: 0;
    }
  }

  .clearButton {
    margin: 10px 0 5px 0;
  }

  .copied {
    background-color: white;
    color: black;
    width: 100px;
  }
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.linkItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  p {
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
}

.links {
  width: 275px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  margin: 5px;

  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
}

.loader {
  color: white;
  border: 1px solid rgb(180, 180, 180);
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.error {
  color: red;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  border: none;
}
