.inputContainer {
  display: flex;
  flex-direction: column;

  .title {
    color: white;
    text-align: center;
  }

  input {
    width: 200px;
    height: 30px;
    padding: 5px;
    text-indent: 5px;
    border: none;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    background-color: rgb(210, 210, 210);
  }

  .shortenButton {
    color: white;
    padding: 0 10px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color: rgb(180, 180, 180);
    cursor: pointer;
  }
}
