.inputContainer {
  display: flex;
  flex-direction: column;

  .title {
    color: white;
    text-align: center;
    font-size: 40px;

    @media (min-width: 420px) {
      font-size: 46px;
    }

    @media (min-width: 768px) {
      font-size: 52px;
    }

    @media (min-width: 1024px) {
      font-size: 58px;
    }
  }

  input {
    width: 200px;
    height: 30px;
    padding: 5px;
    text-indent: 5px;
    border: none;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    background-color: rgb(210, 210, 210);

    @media (min-width: 420px) {
      font-size: 18px;
      width: 250px;
    }

    @media (min-width: 768px) {
      font-size: 22px;
      width: 300px;
    }
  }

  .shortenButton {
    color: white;
    padding: 0 10px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color: rgb(140, 140, 140);
    cursor: pointer;

    @media (min-width: 420px) {
      font-size: 18px;
    }

    @media (min-width: 768px) {
      font-size: 22px;
    }
  }

  .alert {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 275px;
    background-color: white;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    z-index: 10;
    font-size: 20px;

    @media (min-width: 768px) {
      width: 350px;
      font-size: 24px;
    }
  }
}
